<%- include("partials/header"); %>
<h1>Compose</h1>
<form action="/compose" method="post" enctype="multipart/form-data">

  <div class="row">
    <div class="col-lg-12">
      <button type="button" class="btn btn-default pull-right insert-image-btn" aria-label="Picture" data-toggle="modal" data-target="#myModal">
      <span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Insert Image
    </button>
    </div>
</div>

  <div class="form-group">
    <p class="form-control" name="postDate"><i class="fa fa-calendar"></i> <%=new Date().toLocaleDateString('en-US', {
    weekday: "long",
    day: "numeric",
    month: "long",
    year: "numeric"
  });%> </p>
  </div>
  <div class="form-group">
    <label for="postTitle">Title</label>
    <input class="form-control" type="text" name="postTitle" value="" required style="display: block;">
  </div>


  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          <div class="image-entry">
            <input type="radio" aria-label="..." name="optionsRadios" id="optionsRadios1" value="option1" onchange="activateInput(this, 'postImgPath', 'postImgLink')">
            <label for="postImgPath">Choose image from device</label>
            <input class="form-control" type="file" id="postImgPath" name="postImgPath" style="display: block;" placeholder="Upload Image" disabled />
          <!-- /input-group -->
          </div>

          <div class="image-entry">
              <input type="radio" aria-label="..." name="optionsRadios" id="optionsRadios2" value="option2" onchange="activateInput(this, 'postImgLink', 'postImgPath')">
            <label for="postImgLink">Image URL</label>
            <input class="form-control" type="text" id="postImgLink" name="postImgLink" value="" style="display: block;" placeholder="Paste Image URL" disabled>
          </div><!-- /input-group -->
        </div>
        <div class="modal-footer">
          <button name="button" type="button" class="btn btn-default" onclick="clearSelection('postImgLink', 'postImgPath')">Clear</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" style="background-color: #1abc9c; border: none">Save</button>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="postContent">Post</label>
    <textarea class="form-control post-content" name="postContent" rows="5" cols="30" oninput="expand(this)" required style="display: block;"></textarea>
  </div>

  <button type="submit" name="button" class="btn btn-secondary">Publish</button>
</form>


<%- include("partials/footer"); %>
